:root {
  --dark-color: #3a4256;
  --light-color: #1cc7c1;
}
.light-color {
  color: #1cc7c1;
}
.dark-color {
  color: #3a4256;
}
.light-bg-color {
  background-color: var(--light-color);
}
.dark-bg-color {
  background-color: var(--dark-color);
}
.main-btn {
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );
}
.main-btn {
  margin: 5px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 8px;
  display: block;
}

.main-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
